<form (ngSubmit)="onSubmit()" novalidate>
<nb-card>
  <nb-card-header>Add Department</nb-card-header>
  <nb-card-body>
      <div class="form-group">
          <label for="departmentName">Department Name</label>
          <input name="departmentName" id="departmentName" class="form-control" [(ngModel)]="department.departmentName"  required #departmentName="ngModel"/>
          <div class="text-danger" *ngIf="departmentName.touched && !departmentName.valid">Please Enter Name.</div>
        </div>
  </nb-card-body>
  <nb-card-footer>
    <button class="btn btn-danger btn-sm" (click)="dismiss()">Cancel</button>
    <button class="btn btn-success btn-sm pull-right" type="submit">Save</button>
  </nb-card-footer>
</nb-card>
</form>

