<div class="row">
  <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <nb-card>
      <nb-card-header>
        <h1 id="title" class="title">Reset Password</h1>
        <!-- <p class="sub-title">Hello! Log in with your username and password.</p> -->
      </nb-card-header>
      <nb-card-body>
        <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
          <p class="alert-title"><b>Oh snap!</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
          </ul>
        </nb-alert>

        <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
          <p class="alert-title"><b>Hooray!</b></p>
          <ul class="alert-message-list">
            <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
          </ul>
        </nb-alert>

        <form (ngSubmit)="confirm()" #form="ngForm" aria-labelledby="title">

          <div class="form-control-group">
            <span class="label-with-link">
              <label class="label" for="input-password">Password:</label>
              <a class="forgot-password caption-2" [routerLink]="['/auth/request-password']">Forgot Password?</a>
            </span>
            <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
              id="input-password" placeholder="Password" fieldSize="large"
              [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''" required
              [attr.aria-invalid]="password.invalid && password.touched ? true : null">
            <ng-container *ngIf="password.invalid && password.touched ">
              <p class="caption status-danger" *ngIf="password.errors?.required">
                Password is required!
              </p>
            </ng-container>
          </div>

          <div class="form-control-group">
            <span class="label-with-link">
              <label class="label" for="input-new-password"> New Password:</label>
              <!-- <a class="forgot-password caption-2" [routerLink]="['/auth/request-password']">Forgot Password?</a> -->
            </span>
            <input nbInput fullWidth [(ngModel)]="user.newPassword" #newPassword="ngModel" name="newPassword" type="password"
              id="input-new-password" placeholder="New Password" fieldSize="large" (change)="confirmPassword.control.updateValueAndValidity()"
              [status]="newPassword.dirty ? (newPassword.invalid  ? 'danger' : 'success') : ''" required
              [attr.aria-invalid]="newPassword.invalid && newPassword.touched ? true : null">
            <ng-container *ngIf="newPassword.invalid && newPassword.touched ">
              <p class="caption status-danger" *ngIf="newPassword.errors?.required">
                New Password is required!
              </p>
            </ng-container>
          </div>

          <div class="form-control-group">
            <span class="label-with-link">
              <label class="label" for="input-confirm-password">Confirm Password:</label>
              <!-- <a class="forgot-password caption-2" [routerLink]="['/auth/request-password']">Forgot Password?</a> -->
            </span>
            <input nbInput fullWidth [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" name="confirmPassword" type="password"
              id="input-confirm-password" placeholder="Confirm Password" fieldSize="large" validateEqual="newPassword"
              [status]="confirmPassword.dirty ? (confirmPassword.invalid  ? 'danger' : 'success') : ''" required
              [attr.aria-invalid]="confirmPassword.invalid && confirmPassword.touched ? true : null">
            <ng-container *ngIf="confirmPassword.invalid && confirmPassword.touched ">
              <p class="caption status-danger" *ngIf="confirmPassword.errors?.required">
                Confirm Password is required!
              </p>
              <p class="caption status-danger" *ngIf="!confirmPassword.errors?.required && confirmPassword.errors?.validateEqual">
                Password and Confirm Password does not match!
              </p>
            </ng-container>
          </div>

          <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid"
            [class.btn-pulse]="submitted">
            Reset Password
          </button>
        </form>

        <!-- <section class="another-action" aria-label="Register">
          Don't have an account? <a class="text-link" [routerLink]="['/auth/register']">Register</a>
        </section> -->
      </nb-card-body>
    </nb-card>
  </div>
</div>