<nb-card>
    <nb-card-header><span class="text-danger">Confirmation</span></nb-card-header>
    <nb-card-body>
      Are you sure want to delete <span class="text-danger">{{ name }}'s</span> data?
    </nb-card-body>
    <nb-card-footer>
      <div class="d-flex">
          <button nbButton size="small" status="default" (click)="cancel()">Cancel</button>
          <div class="ml-auto">
            <button nbButton size="small" status="danger" (click)="confirm()">Confirm</button>
          </div>
      </div>
    </nb-card-footer>
  </nb-card>
  