img {
    width: 220px;
    height: 250px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)  {
    .profile {
        max-width: 280px;
        max-height: 400px;
    }
  }
  
 /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .profile {
        min-width: 250px;
        max-height: 400px;
    }
  }

 /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .profile {
        min-width: 700px;
    }
  } 

 /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .profile {
        min-width: 800px;
    }
  }


// label {
//     white-space: nowrap;
// }